<web-app>
<servlet>
	<servlet-name>Connection</servlet-name>
	<servlet-class>service.Connection</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Connection</servlet-name>
	<url-pattern>/connection</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>Verification</servlet-name>
	<servlet-class>service.Verification</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Verification</servlet-name>
	<url-pattern>/verification</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Bibliothecaire</servlet-name>
	<servlet-class>service.Bibliothecaire</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Bibliothecaire</servlet-name>
	<url-pattern>/bibliothecaire</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>AjoutDoc</servlet-name>
	<servlet-class>service.AjoutDoc</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AjoutDoc</servlet-name>
	<url-pattern>/ajoutdoc</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>User</servlet-name>
	<servlet-class>service.User</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>User</servlet-name>
	<url-pattern>/user</url-pattern>
</servlet-mapping>



<servlet>
	<servlet-name>EmpruntDoc</servlet-name>
	<servlet-class>service.EmpruntDoc</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>EmpruntDoc</servlet-name>
	<url-pattern>/emprunt</url-pattern>
</servlet-mapping>



</web-app>
